<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='departments.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='boxicons.min.css') }}">
   <script src="https://kit.fontawesome.com/b6d1d8b4d8.js" crossorigin="anonymous"></script>
   <script src="https://kit.fontawesome.com/e4e54a9106.js" crossorigin="anonymous"></script>
   <title>
      Department
   </title>
</head>

<body data-bs-target=".navbar">
   <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #2f537e;">
      <div class="container">
         <a class="navbar-brand logo-text" href="#"> <i class="fa-solid fa-laptop-medical"></i> Medica</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('main.departments') }}">Departments</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('main.doctors') }}">Doctors</a>
               </li>
               <li class="nav-item">
                  {% if (current_user.is_authenticated and current_user.email == "ken@gmail.com") %}
                  <a class="nav-link" href="{{ url_for('main.perscriptions') }}">Perscription</a>
                  {% else %}
                  <a class="nav-link" href="{{ url_for('main.about') }}">About us</a>
                  {% endif %}
               </li>
               <li class="nav-item">
                  {% if current_user.is_authenticated %}
                  <a class="nav-link" href="{{ url_for('main.medicalrecord') }}">Medical Record</a>
                  {% else %}
                  <a class="nav-link" href="{{ url_for('main.contact') }}">Contact Us</a>
                  {% endif %}
               </li>
               <li class="nav-item">
                  {% if current_user.is_authenticated %}
                  <a class="nav-link" href="{{ url_for('users.logout') }}">Log Out</a>
                  {% else %}
                  <a class="nav-link" href="{{ url_for('users.login') }}">Login </a>
                  {% endif %}
               </li>
            </ul>
         </div>
      </div>
   </nav>

   <section id="home">
      <div class="container text-center">
         <div class="row justify-content-center">
            <div class="col-md-10">
               <h1 class="text-white display-4">Care Department</h1>
               <p class="text-white">All Department</p>
            </div>
         </div>
      </div>
   </section>


   <section id="services">
      <div class="container">
         <div class="row">
            <div class="col-12 section-intro">
               <h1>Award winning patient care</h1>
               <div class="hline"></div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-4 col-sm-6 p-4">
               <div class="icon-box">
                  <i class="fas fa-heartbeat"></i>
               </div>
               <h4 class="title-sm mt-4">Cardiology</h4>
               <p>Cardiology is the medical speciality dealing with the diagnosis and treatment of diseases
                  and disorders of the heart.</p>
            </div>
            <div class="col-lg-4 col-sm-6 p-4">
               <div class="icon-box">
                  <i class="fas fa-brain"></i>
               </div>
               <h4 class="title-sm mt-4">Neurology</h4>
               <p>Neurologists diagnose, treat and manage disorders that affect the central nervous system</p>

            </div>
            <div class="col-lg-4 col-sm-6 p-4">
               <div class="icon-box">
                  <i class="fas fa-venus"></i>
               </div>
               <h4 class="title-sm mt-4">Gynecology</h4>
               <p>Gynecology is care of women and diagnosis and treatment of diseases of the female reproductive organs.
               </p>
            </div>
            <div class="col-lg-4 col-sm-6 p-4">
               <div class="icon-box">
                  <i class="fas fa-baby"></i>
               </div>
               <h4 class="title-sm mt-4">Pediatric</h4>
               <p>Pediatrics is the branch of medicine that involves the medical care of infants, children, and
                  adolescents.</p>
            </div>
            <div class="col-lg-4 col-sm-6 p-4">
               <div class="icon-box">
                  <i class="fas fa-bone"></i>
               </div>
               <h4 class="title-sm mt-4">Orthopedics</h4>
               <p>Orthopedic surgery or orthopedics, is the branch of surgery concerned with conditions involving the
                  musculoskeletal system.</p>
            </div>
            <div class="col-lg-4 col-sm-6 p-4">
               <div class="icon-box">
                  <i class="fas fa-tooth"></i>
               </div>
               <h4 class="title-sm mt-4">Stomatology</h4>
               <p>The branch of medicine or dentistry concerned with the structures, functions, and diseases of the
                  mouth</p>
            </div>
         </div>
   </section>

   <!-----------------------------footer-------------------------->
   <footer>
      <div class="footer-top">
         <div class="container">
            <div class="row gy-5">
               <div class="col-md-4">
                  <h4 class="" style="color: white;">Medica</h4>
                  <p style="color: #b8bdc3;">Praesent vulputate neque nec sem fermentum porttitor. Mauris eget dolor
                     convallis, trista, dignissim sapien. Duis vel felis dictu</p>
                  <div class="social-icons">
                     <a href="#"><i class="fab fa-facebook"></i></a>
                     <a href="#"><i class="fab fa-linkedin-in"></i></a>
                     <a href="#"><i class="fab fa-instagram"></i></a>
                     <a href="#"><i class="fab fa-twitter"></i></a>
                  </div>
               </div>
               <div class="col-md-2">
                  <h5 class="title-sm" style="color: white;">Navigation</h5>
                  <div class="footer-links">
                     <a href="#">Home</a>
                     <a href="#">Doctors</a>
                     <a href="#">Departments</a>
                     <a href="#">About Us</a>
                  </div>
               </div>
               <div class="col-md-2">
                  <h5 class="title-sm" style="color: white;">Other</h5>
                  <div class="footer-links">
                     <a href="#">Make an appointment</a>
                     <a href="#">Order Now!</a>
                     <a href="#">Our Services</a>
                  </div>
               </div>
               <div class="col-md-2 mydivg">
                  <h5 class="title-sm" style="color: white;">Contact</h5>
                  <div class="footer-links">
                     <p class="mb" style="color: #b8bdc3;"><i class="fas fa-thumbtack"></i> 1649 Norman Street, Los
                        Angeles, 9001</p>
                     <p class="mb-" style="color: #b8bdc3;"><i class="fas fa-headset"></i> 8(800)316-06-42</p>
                     <p class="mb" style="color: #b8bdc3;"><i class="far fa-envelope"></i> medica@gmail.com</p>
                     <p class="mb" style="color: #b8bdc3;"><i class="fas fa-clock"></i> 8:00 am - 17:00 pm,
                        Monday-Friday</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>

</html>