<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="Stylesheet" href='https://fonts.googleapis.com/css?family=Muli' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600italic,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static.js">
    <meta charset="UTF-8">
    <title>Hospital homepage</title>
    <style type="text/css">
        a.nounderline {text-decoration: none; }
    </style>
</head>
<body>
  
    {% block content %} {% endblock %}
</body>

</html>