@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');


body {
  line-height: 1.8;
  color: #898fa1;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #11245A;
}

.title-sm {
  font-size: 16px;
  letter-spacing: 1px;
}

a {
  font-weight: 700;
  transition: all 0.4s ease;
  text-decoration: none;
}

img {
  width: 100%;
}

small {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo-text {
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff !important;
}
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 3px;
}
li.nav-item:hover{
  color: #1621c7;

}
.navbar-light .navbar-nav .nav-link.active {
  color: #f1a71e;
}


#home {
  background: linear-gradient(rgba(17, 36, 90, 0.8), transparent), url(/static/images/doctor.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

#home h1 {
  font-weight: 600;
  letter-spacing: 0.4ch;
  text-align: left;
}

#home p {
  letter-spacing: 0.3ch;
  text-align: left;
  font-size: 20px;
}
.section-intro .hline {
  width: 120px;
  height: 2px;
  background-color: rgb(243, 174, 26);
  margin: 16px auto 0 auto;
}

#team{
  min-height: 70vh;
  margin-top: 50px;
  
}


.team-member {
  background-color: #11245A;
  margin-top: 50px;
}

.team-member.even {
  background-color: #162e6e;
}

.team-member .hline {
  width: 70px;
  height: 2px;
  margin: 16px auto;
  background-color: rgba(255, 255, 255, 0.445);
}

.team-member .team-member-img img,
.team-member .team-member-img .social-icons {
  transition: all 0.4s ease;
}

.team-member .team-member-img {
  position: relative;
  overflow: hidden;
}

.team-member .team-member-img .social-icons {
  width: 100%;
  height: 60px;
  background-color: #f1a71e;
  position: absolute;
  bottom: -60px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.team-member .team-member-img .social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 24px;
  color: #fff;
  border-radius: 100px;
  margin-left: 4px;
  margin-right: 4px;
  text-decoration: none;
}

.team-member .team-member-img .social-icons a:hover {
  background-color: #fff;
  color: #1428df;
}

.team-member:hover .team-member-img .social-icons {
  bottom: 0;
}

.team-member:hover img {
  transform: translateY(-60px);
}
p{
  color: rgb(255, 255, 255);
}
.footer-top p{
  color: black;
}
.row{
  margin-bottom: 50px;
}

.footer-top {
  padding-top: 80px;
  padding-bottom: 30px;
  background-color: #152538;
  color: #b8bdc3;
}

footer .footer-links a,
footer .social-icons a {
  color: #898fa1;
  margin: 5px;
  text-decoration: none;
}

footer .social-icons a {
  font-size: 24px;
}

footer .footer-links a {
  display: block;
  font-weight: 400;
}

footer .social-icons a:hover,
footer .footer-links a:hover {
  color: #067192;
}






